{% extends 'layout.twig' %}

{% set title = 'GARANTDOORS' %}

{% block head %}
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" type="image/x-icon" href="/resource/img/favicon.png"/>
    <link rel="stylesheet" href="/resource/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resource/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/resource/css/style.css?v=01052021">
    <link rel="stylesheet" href="https://etimark.ru/themes/Default/css/jquery.fancybox.css?0411">

    <meta name="google-site-verification" content="IMbS6YUIKQGRBAUlQ-DSfOxJB7gw_iddfkFjntASf1s" />
    {% if current_path() == parameter('common_homepage') %}
        <meta name="description" content="{{ parameter('common_description') }}">
        <meta name="keywords" content="{{ parameter('common_keywords') }}">
    {% endif %}
    <meta name="canonical" content="{{ current_path()|trim('/', 'left') }}">
{% endblock %}

{% block body %}
    <body class="bx-no-touch">
    {% block bodyinner %}
        <main class="page {{ current_path() == parameter('common_homepage') ? 'light-theme header_absolute' : '' }}">
            {% include 'header.twig' %}

            {% block page %}
                {% include 'slider.twig' %}

                <div class="container">
                    <div class="text-block">
                        <div class="text-block__marked">
                            Создайте интерьер вместе с нами.<br/>
                            Выберите двери, а&nbsp;мы предложим функциональные решения в&nbsp;едином стиле. <br/> Завершить образ помогут аксессуары.
                        </div>
                    </div>

                    <div class="collection">
                        {% for category in catalog_category().whereIn('uuid', ['1e7004cc-19e7-432e-860d-95bdb16004b2', '502c3d3a-fce8-4f51-bb7f-05a594c9229b', 'c158ff67-63f1-4a94-a657-da0ab1eaa096']) %}
                            {% include 'main.category.twig' with {'category': category} only %}
                        {% endfor %}
                    </div>

                    {% include 'parallax.twig' with {
                        src: '/resource/img/2.jpeg',

                        title: 'БЕЗГРАНИЧНЫЙ ВЫБОР',
                        url: '/catalog/mezhkomnatnye-dveri',
                        description:  'Классика или минимализм, массив или современные отделки, подберите свою идеальную дверь.' } only %}

                    {% include 'filter.twig' %}

                    {% include 'parallax.twig' with {
                        src: '/resource/img/parallax3.jpg',

                        title: 'Входные двери',
                        url: '/catalog/vkhodnye-dveri',
                        description:  'Безопасность может быть элегантной'
                    } only %}

                    <div class="advantages">
                        {% for publication in publication({category: '79f6372c-0912-477a-9863-3e26475d21af'}).sortBy('date') %}
                            <div class="advantages__item advantages__item_salons">
                                <a href="{{ publication.address }}" class="advantages__link">
                                    {% include 'mixin/image.twig' with {'src': publication.hasFiles() ? publication.getFiles().first().getPublicPath('full') : '/resource/img/salons.jpg', 'style': 'width: 100%'} only %}
                                    <div class="advantages__title">{{ publication.title }}</div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% endblock %}

            {% include 'footer.twig' %}
        </main>
    {% endblock %}

    <link rel="stylesheet" href="/resource/css/animate.css">
    <link rel="stylesheet" href="/resource/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resource/css/slicknav.min.css">
    <link rel="stylesheet" href="/resource/js/plugins/slick.css">
    <link rel="stylesheet" href="/resource/css/magnetific.css">
    <link rel="stylesheet" href="/resource/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/resource/css/jquery.fancybox.min.css">

    <script src="/resource/js/jquery-3.2.1.min.js"></script>
    <script src="/resource/js/jquery.zoom.min.js"></script>
    <script src="/resource/js/bootstrap.min.js"></script>
    <script src="/assets/js/plugin/sweetalert/sweetalert2.all.min.js"></script>
    <script src="/resource/js/plugins/slick.min.js"></script>
    <script src="/resource/js/magnific.popup.js"></script>
    <script src="/resource/js/owl.carousel.min.js"></script>
    <script src="/resource/js/plugins/jquery.sticky.js"></script>
    <script src="/resource/js/script.js?v=10032021"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="/resource/js/jquery.fancybox.min.js"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(73278559, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/73278559" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-206887111-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-206887111-1');
    </script>

    {% include 'mixin/img-script.twig' %}
    {% include 'mixin/catalog.twig' %}
    {% include 'mixin/recaptcha.twig' %}
    {% include 'parts/modal.twig' %}
    {% include 'parts/modal2.twig' %}
    </body>
{% endblock %}

