{% extends "main.twig" %}

{% block title %}{{ page.meta.title ? page.meta.title : page.title }} | {{ parent() }}{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ page.meta.description }}">
    <meta name="keywords" content="{{ page.meta.keywords }}">
{% endblock %}

{% block page %}

    <div class="container">
        <div class="pathAndCombo py-4" style="padding-bottom: 0!important;">
            <div class="path">
                <a href="/">Главная</a> ⁄
                <a href="{{ page.path }}">{{ page.title }}</a>
            </div>
        </div>

        <div class="content">


            <h1>{{ page.title }}</h1>


            {{ page.content|raw }}


        </div>

    </div>

{% endblock %}
